[package]
name = "svm"
version = "0.0.0"
authors = ["Yaron Wittenstein <yaron.wittenstein@gmail.com>"]
license = "MIT"
edition = "2018"
repository = "https://github.com/spacemeshos/svm"
homepage = "https://github.com/spacemeshos/svm"
description = "Spacemesh Virtual Machine"
publish = false

include = [
  "README.md",
  "LICENSE",
  "Cargo.toml",
  "Cargo.lock",
]

[lib]
crate-type = ["cdylib", "rlib", "staticlib"]

[dependencies.rocksdb]
default-features = false
optional = true
version = "0.12.4"
features = ["lz4"]

[dependencies.wasmer-runtime]
default-features = false
git = "https://github.com/spacemeshos/wasmer"
branch = "develop"
features = ["default-backend-cranelift"]

[dependencies.wasmer-runtime-core]
default-features = false
git = "https://github.com/spacemeshos/wasmer"
branch = "develop"

[dependencies.wasmer-runtime-c-api]
default-features = false
git = "https://github.com/spacemeshos/wasmer"
branch = "develop"

# [dependencies.wasmer-singlepass-backend]
# git = "https://github.com/spacemeshos/wasmer"
# branch = "develop"

# [dependencies.wasmer-middleware-common]
# default-features = false
# git = "https://github.com/spacemeshos/wasmer"
# branch = "develop"

[dependencies]
libc = "0.2"
byteorder = "1.3.2"
tiny-keccak = "1.4.2"
log = "0.4"
lazy_static = "1.4.0"
hex = "0.4"
svm-common = { path = "crates/svm-common" }
svm-kv = { path = "crates/svm-kv" }
svm-gas = { path = "crates/svm-gas" }
svm-app-query = { path = "crates/svm-app-query" }
svm-types = { path = "crates/svm-types" }
svm-codec = { path = "crates/svm-codec" }
svm-layout = { path = "crates/svm-layout" }
svm-storage = { path = "crates/svm-storage" }
svm-compiler = { path = "crates/svm-compiler" }
svm-runtime = { path = "crates/svm-runtime" }
svm-runtime-c-api = { path = "crates/svm-runtime-c-api" }

[dev-dependencies]
wabt = "0.7.4"

[workspace]
members = [
  "crates/svm-app-query",
  "crates/svm-codec",
  "crates/svm-types",
  "crates/svm-common",
  "crates/svm-kv",
  "crates/svm-layout",
  "crates/svm-storage",
  "crates/svm-runtime",
  "crates/svm-compiler",
  "crates/svm-runtime-c-api",
  "crates/svm-cli",
]

exclude = [
  "crates/svm-extern",
]
