[package]
name = "svm-sdk-alloc"
version = "0.0.0"
authors = ["Yaron Wittenstein <yaron.wittenstein@gmail.com>"]
license = "MIT"
edition = "2018"
readme = "README.md"
repository = "https://github.com/spacemeshos/svm"
homepage = "https://github.com/spacemeshos/svm"
description = "Spacemesh Virtual Machine"
publish = false

[dependencies]
wee_alloc = { version = "0.4.5", optional = true }

[features]
default = []
static-alloc = []
dynamic-alloc = ["wee_alloc"]