name: SVM CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: False
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

        # The "" is just debug
        release: ["", "--release"]
    steps:
    - name: LLVM (Windows)
      if:  matrix.environment == "windows-latest" 
      run: choco install llvm -y
    - name: Download commit
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Cache cargo
      id: cache-cargo
      uses: actions/cache@v1
      with:
        path: .cargo/
        key: ${{ runner.os }}-${{ matrix.release }}-cargo
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        toolchain: nightly
        command: build
        args: ${{ matrix.release }} --all
    - name: Test
      uses: actions-rs/cargo@v1
      with:
        toolchain: nightly
        command: test
        args: ${{ matrix.release }} --all
    - name: Prepare uploads
      shell: bash
      run: mkdir bins/ && for i in $(ls target/{debug,release}/{libsvm_runtime_c_api.{so,dylib,dll},svm.h}); do mv $i bins/; done
    - name: Upload bins
      uses: actions/upload-artifact@master
      with:
        name: bins-${{ runner.os }}${{ matrix.release }}
        path: bins/
